.section__menu{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* width: 90%; */
}

.section__menu-header{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.2rem;
}


.content__section{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.section__menu-content{
  background-color: var(--color-bg-pink);
  border: 1px solid var(--color-bg-soklat);
  width: max-content;
  display: flex;
  flex-direction: column;
}

.section__menu-content > img {
  border-image-width: cover;
  width: 250px;
}

.section__menu-content_deskripsi{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0 2rem 0;
}

.section__menu-content > button{
  align-self: center;
  position: absolute;
  margin-top: 20rem;
}

@media screen and (max-width: 900px){
  .content__section {
    flex-direction: column;
    gap: 4rem;
    align-items: center;
  }
}